/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


* {
 font-family: 'Lato', 'sans-serif';
}

.roundpage{
  border-radius: 1em;
}
 /* allow room for 3 columns */
ul li a {
  text-decoration: none;
  color: DarkOrange;
}
  ul
  {
    list-style-type: none;
    /*width: 56em;*/
  }  /* float & allow room for the widest item */
  ul li
  {
    float: left;
    width: 10em;
    height: 10em;
    padding: .3em;
   /* background-image:url('runner_icon.jpeg');*/
   background-color: LightSlateGray;
    margin-bottom: 1em;
    margin-right: 1em;
    border-radius: 1em;
    color: DarkTurquoise;
  }  /* stop the float */
  br
  {
    clear: left;
  }  /* separate the list from subsequent markup */
  div.wrapper
  {
    margin-bottom: 1em;
  }
  .background {
    background-color: #1E90FF;
  }